.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 120px;
} 
nav {
    background: #000;
}
nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav li a {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.2rem;
    line-height: 2;
}
nav li a:hover{
    background: rgba(209, 190, 190, 0.5);
}